@import "tailwindcss";
@font-face {
  font-family: 'font1';
  font-weight: 300;
  src: url('/Fonts/Lausanne-300.woff2') format('woff2');
}

@font-face {
  font-family: 'font2';
  font-weight: 500;
  src: url('/Fonts/Lausanne-500.woff2') format('woff2');
}
